<div class="password-input">
  <mat-form-field appearance="outline" class="password-input__form-field">
    <mat-label>{{label}}</mat-label>
    <input
      matInput
      [formControl]="passwordControl"
      [type]="isPasswordHidden ? 'password' : 'text'"
      [placeholder]="placeholder"
      (blur)="onBlur()"
    >
    <button mat-icon-button matSuffix type="button"
      (click)="isPasswordHidden = !isPasswordHidden"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isPasswordHidden"
    >
      <mat-icon>{{isPasswordHidden ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>

  <app-password-input-strength-indicator
    [strength]="passwordStrength | async"
  ></app-password-input-strength-indicator>

  @if (passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)) {
    @for (error of passwordControl.errors | keyvalue; track error) {
      <mat-error>{{errorMessages[error.key]}}</mat-error>
    }
  }
</div>
