.strength-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}


.strength-indicator__section {
  flex: 1 1 auto;
  height: 8px;
  border-radius: 4px;

  &_gray {
    background: var(--neutral-color);
  }

  &_red {
    background: var(--additinal-color-red);
  }

  &_yellow {
    background: var(--additinal-color-yellow);
  }

  &_green {
    background: var(--additinal-color-green);
  }
}
